<!-- <h1>Sector</h1>
<form #postForm="ngForm" (ngSubmit)="OnRegister(postForm.value)" class="form-group">
    <div class="row">
        <div class="col-lg-3">
          Name <input type="text" ngModel name="name" required class="form-control"> 
          <small id="Help" class="form-text text-muted">We'll never share your info with anyone else.</small>
        </div>
        <div class="col-lg-3">
          Brief <input type="text" ngModel name="brief"  required class="form-control">
        </div>
        
</form>

<button class="btn btn-primary"  (click)="onClickSubmit()">Get Sector </button>

<div *ngIf="getIPOsList">
<ag-grid-angular 
    style="width: 1200px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData | async"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular> -->

